# Building Name Extraction

In [28]:
# imports 
import data_preprocessor
from config import *

abbreviations = data_preprocessor.load_json("abbreviations.json")

In [29]:
df = data_preprocessor.load_corpus(fname, pandas = True, header = True)
# df = df.drop(columns=['Title', 'Created', 'Close Time', 'Queue'], axis=1) 
df = df.drop(columns=['Building Name'], axis=1) 

df.head()

   Ticket#                                            Address
0        1  House # B6, Block-B Floor Aftab Sultan residen...
1        2  Apartment/Suite# B-3 , Building Block B, Aftab...
2        3  Apartment/Suite# B-1 1st Floor, Building Block...
3        4  House # Aftab Sultan Resedention complex Appt ...
4        5  House # St 20 fL B2 Aftab sultan near postoffi...

In [30]:
df_normalized = data_preprocessor.load_corpus(fname_normalized, pandas = True, header = True)
df_normalized = df_normalized.fillna('None') # -> if from file

# Merging the DataFrames based on 'Ticket #' to append the 'Address' column
df_normalized = df_normalized.merge(df, left_on='Ticket #', right_on='Ticket#', how='left').drop('Ticket#', axis=1)

df_normalized.head()

,Ticket #,Type,House #,Apartment #,Building #,Building Name,Street,Road,Area & Sub Area,Neighbourhood,City,Address
0,1,house,house # b6,block - b floor aftab sultan residencial complex,None,None,None,shahrah e ghalib,block 2,clifton,karachi,"House # B6, Block-B Floor Aftab Sultan residen..."
1,2,apartment,None,apartment / suite # b - 3,building block b,aftab sultan residential complex,None,khayaban - e - bedi,block 2,clifton,karachi,"Apartment/Suite# B-3 , Building Block B, Aftab..."
2,3,apartment,None,apartment / suite # b - 1 1st floor,building block b,aftab sultan residential complex,None,khayaban - e - bedi,block 2,clifton,karachi,"Apartment/Suite# B-1 1st Floor, Building Block..."
3,4,apartment,None,house # aftab sultan resedention complex apart...,None,None,None,khayaban - e - bedi,block 2,clifton,karachi,House # Aftab Sultan Resedention complex Appt ...
4,5,house,None,None,None,None,house # street 20 floor b2 aftab sultan near p...,khayaban - e - bedi,block 2,clifton,karachi,House # St 20 fL B2 Aftab sultan near postoffi...

In [31]:
lst_addresses = df_normalized[df_normalized['Building Name'] == 'None']['Address'].tolist()
lst_building_names = list(set(df_normalized[(df_normalized['Building Name'] != 'None') & (df_normalized['Type'] == 'apartment')]['Building Name']))

print(lst_addresses)
print(lst_building_names)

['House # B6, Block-B Floor Aftab Sultan residencial Complex, Shahra e Ghalib, Block 2, Clifton, Karachi', 'House # Aftab Sultan Resedention complex Appt A/3 2nd Fl, Khayaban-e-Bedi, Block 2, Clifton, Karachi', 'House # St 20 fL B2 Aftab sultan near postoffice, Khayaban-e-Bedi, Block 2, Clifton, Karachi', 'House # Aftab Sultan Complex Appt A6, Khayaban-e-Bedi, Block 2, Clifton, Karachi', 'House # ST-20 Flat B-4 2nd Floor Aftab Sultan Residential, Khayaban-e-Bedi, Block 2, Clifton, Karachi', 'House # C-7 3rd Floor Al Habib Castle, 3rd Avenue, Block 5, Clifton, Karachi', 'House # Blessed Home, Flat E-5, McNeil Road, Civil Lines, Clifton, Karachi', 'House # 37 Flat F 2 1st Floor Blessed Homes, Mc Neil Road, Civil Lines, Clifton, Karachi', 'House # Blessed Homes Appt # E-6 5TH Floor, McNeil Road, Civil Lines, Clifton, Karachi', 'House # 37-A Flat D-4 3rd Floor Blessed Homes, McNeil Road, Civil Lines, Clifton, Karachi', 'House # 37 A Apartment No C 7 F Blessed Homes, Adam Road, Civil Lines, Clifton, Karachi', 'House # 37 Flat D-3 2nd Floor Blessed Homes, McNeil Road, Civil Lines, Clifton, Karachi', 'House # 37 Flat B-1 Ground Floor Blessed Homes, McNeil Road, Civil Lines, Clifton, Karachi', 'House # 37 Flat E 1 Blessed Homes, McNeil Road, Civil Lines, Clifton, Karachi', 'House # F-5 BLESSED HOMES 4TH FLOOR, McNeil Road, Civil Lines, Clifton, Karachi', 'House # F-28 Unit A-1 Classic Home Of, Kehkashan Banglows, Block 5, Clifton, Karachi', 'House # F-28 Banglow #12 Classic homes, Khayaban e Sadi, Block 5, Clifton, Karachi', 'House # F 28/3 Classic Homes Town House No 16 Off, Khayaban e Sadi, Block 5, Clifton, Karachi', 'House # Plot no F-28/A Flat 11 Classic Homes, Khayaban e Roomi, Block 5, Clifton, Karachi', 'House # 14 F-28/2B Classic Home, Nehr-e-Khayyam, Block 5, Clifton, Karachi', 'House # F-28 Flat No 15 Classic Homes Off, Khayaban e Sadi, Block 5, Clifton, Karachi', 'House # F-29 Classic Homes, Rojhan Street, Block 5, Clifton, Karachi', 'House # F-29 Town House No 2-A Classic Homes, Nehr-e-Khayyam, Block 5, Clifton, Karachi', 'House # Crystal Hill Appt Flat No G-213 3rd Floor, Feroz Nana Road, Bath Island, Clifton, Karachi', 'House # G-23/B/2, Behind Emerald Tower, Khayaban e Iqbal, Block 5, Clifton, Karachi', 'House # D-8/4 8th Floor Florida homes, Khayaban-e-Mujahid, Phase 5, Defence, Karachi', 'House # Flat O/10/8 Florida Homes 33rd Street, Beach Avenue, Phase 5, Defence, Karachi', 'House # D 55 Near Ocean Mall, Khayaban-e-Jami, Block 9, Clifton, Karachi', 'House # F-33 Flat # 301 Park Lane Homes, Park Lane, Block 5, Clifton, Karachi', 'House # F-33 Villa 201 Park Lane Homes, Park Lane, Block 5, Clifton, Karachi', 'House # 33 park lane homes, Park Lane, Block 5, Clifton, Karachi', 'House # 112, 2nd Flr, Parsa Heaven, Near Indian Embassy, Fatima Jinnah Road, Civil Lines, Clifton, Karachi', 'House # Pent House 7th Floor Pearl Appartment, Ferrer Town, Civil Lines, Clifton, Karachi', 'House # Prince Complex block b Appt B-09 2nd Floor, Khayaban-e-Iqbal, Block 7, Clifton, Karachi', 'House # Quality Height flat 304 3rd floor, Chartered AC Avenue, Block 8, Clifton, Karachi', 'House # Appt 1101/B 11th Floor Royal Home, Fatima Jinnah Road, Civil Lines, Clifton, Karachi', 'House # CL 6/21/1 Royal Homes, Apt# 1101 ,, Belgrave Road, Civil Lines, Clifton, Karachi', 'House # Royal Homes Flat B-601 6th Floor, Fatima Jinnah Road, Civil Lines, Clifton, Karachi', 'House # Royal Homes Flat No 502-A 5th Floor, Fatima Jinnah Road, Civil Lines, Clifton, Karachi', 'House # Royal Homes, Apt# 101-A 1st Floor, Belgrave Road, Civil Lines, Clifton, Karachi', 'House # Block -78 First Floor -2 Sea View Apt, Beach Avenue, Phase 5, Defence, Karachi', 'House # BLOCK-26 SEA VIEW APPT SF-2, Beach Avenue, Phase 5, Defence, Karachi', 'House # 7/3, First Floor, Sea View Apartments, Beach Avenue, Phase 5, Defence, Karachi', 'House # BLock 59 Appt FF3 1st Floor Sea View Appt, Beach Avenue, Phase 5, Defence, Karachi', 'House # Flat # 211 Sea World Residency, Kheyaban e Saadi, Block 6, Clifton, Karachi', 'House # 103 1st Floor Sky Tower Near Bacha Party, Khaliq-uz-Zaman Road, Block 8, Clifton, Karachi', 'House # Sky Tower Flat No 801 8th Floor, Khaliq-uz-Zaman Road, Block 8, Clifton, Karachi', 'House # SKY TOWER SHOP NO 1 CHUGHTAI LAB, Khaliq-uz-Zaman Road, Block 8, Clifton, Karachi', 'House # Sky Tower Flat 903 9th Floor, Khaliq-uz-Zaman Road, Block 8, Clifton, Karachi', 'House # Flat no 602 Sky Tower, Khaliq-uz-Zaman Road, Block 8, Clifton, Karachi', 'House # Flat no 502 Sky Tower, Khaliq-uz-Zaman Road, Block 8, Clifton, Karachi', 'House # Flat 503 5th Floor Sky Tower, Khaliq-uz-Zaman Road, Block 8, Clifton, Karachi', 'House # Citi Eye Centre 5th Floor, Doctors Plaza, Khayaban e Iqbal, Block 9, Clifton, Karachi', 'House # C-7 3rd Floor Al Habib Castle, 3rd Avenue, Block 5, Clifton, Karachi', 'House # B-4 Al-Rehana Appt, Bank Road, Block 5, Clifton, Karachi', 'House # 37 A Apartment No  C 7 F Blessed Homes, Adam Road, Civil Lines, Clifton, Karachi', 'House # 37 Flat No F1 Blessed Homes, Mc Neil Road, Civil Lines, Clifton, Karachi', 'House # Blessed homes APT no C3 2nd floor, McNeil Road, Civil Lines, Clifton, Karachi', 'House # 37 Flat E 1  Blessed Homes, McNeil Road, Civil Lines, Clifton, Karachi', 'House # F-28 Flat No 15 Classic Homes  Off, Khayaban e Sadi, Block 5, Clifton, Karachi', 'House # F-29  Town House No 2-A Classic Homes, Nehr-e-Khayyam, Block 5, Clifton, Karachi', 'House # F-29 house 1-A classic homes, Rojhan Street, Block 5, Clifton, Karachi', 'House # F-29  Classic Homes, Rojhan Street, Block 5, Clifton, Karachi', 'House # F29 Classic Homes Flat No D4, Shahrah e Iran, Block 5, Clifton, Karachi', 'House # Crystal Hill Appt Flat No G-213 3rd Floor, Feroz Nana Road, Bath Island, Clifton, Karachi', 'House # Citi Eye Centre 5th Floor, Doctors Plaza, Khayaban e Iqbal, Block 9, Clifton, Karachi', 'House # OG1 Ground Floor Florida Homes, B Street, Phase 5, Defence, Karachi', 'House # G 4/1 Clifton next to Ocean Mall, Khayaban e Iqbal, Block 9, Clifton, Karachi', 'House # XD Adventure 4th Floor Ocean Mall, Khayaban e Iqbal, Block 9, Clifton, Karachi', 'House # Laser Tag 1st Floor Ocean Mall, Khayaban e Iqbal, Block 9, Clifton, Karachi', 'House # G4/3  Ground Floor Near Ocean Mall, Khayaban e Iqbal, Block 9, Clifton, Karachi', 'House # G-4/2 Prince Jewellers, Khayaban e Iqbal, Block 9, Clifton, Karachi', 'House # Flat A-44/45 Prince Complex Off, Khayaban-e-Roomi, Block 7, Clifton, Karachi', 'House # G32 A Flat 401 Quality Heights, Chartered AC Avenue, Block 8, Clifton, Karachi', 'House # Flat 203 2nd Floor Quality Heights, Chartered AC Avenue, Block 8, Clifton, Karachi', 'House # 2005 28FlrRivieraApt, 26th Street, Block 4, Clifton, Karachi', 'House # F 70 Flat 1105 11th Floor 70 Riviera, 26th Street, Block 4, Clifton, Karachi', 'House # F70 1601 16TH FLOOR RIVIERA LUXURY APPARTMENT, 26th Street, Block 4, Clifton, Karachi', 'House # 70  Flat 1806 Riviera, 26th Street, Block 4, Clifton, Karachi', 'House # 70 Flat 20th Floor 70Riviera Main, 26th Street, Block 4, Clifton, Karachi', 'House # F-70 Appt: No.1001 10th Floor Riviera Luxury Appt, 26th Street, Block 4, Clifton, Karachi', 'House # 70 Riviera  Flat 1905 19th Floor, 26th Street, Block 4, Clifton, Karachi', 'House # F 70 Flat 2602 26th Floor 70 Riviera, 26th Street, Block 4, Clifton, Karachi', 'House # F 70 Flat 1402 70 Riviera, 26th Street, Block 4, Clifton, Karachi', 'House # 70 Flat 2601 70 Riviera Building, 26th Street, Block 4, Clifton, Karachi', 'House #  CL 6/21/1 Royal Homes, Apt# 1101 ,, Belgrave Road, Civil Lines, Clifton, Karachi', 'House # Flat B 201 Royal Homes,, Fatima Jinnah Road, Civil Lines, Clifton, Karachi', 'House # 21/1 CL-6 Royal Homes A-202, Beaumont Road, Civil Lines, Clifton, Karachi', 'House # Royal home , Belgrave Road, Civil Lines, Clifton, Karachi', 'House # Royal home B/902 9th Floor, Fatima Jinnah Road, Civil Lines, Clifton, Karachi', 'House # Sasi Boat View Villa No 1 Plot 09, Khayaban-e-Sadi, Block 2, Clifton, Karachi', 'House # GF 2 Block 59 , sea view apartment, Beach Avenue, Phase 5, Defence, Karachi', 'House # Flat, FF-03 1st Floor Block 25 Sea View Township, Beach Avenue, Phase 5, Defence, Karachi', 'House # Greeno Juice Bar Beside Near Macdonald, Sea View , Beach Avenue, Phase 5, Defence, Karachi', 'House # A-196, Main Sea view road, Khayaban e Ittehad, Phase 6, Defence, Karachi', 'House # Flat 103 1st Floor Sea World Recidency, Kheyaban e Saadi, Block 6, Clifton, Karachi', 'House # G-5, Sawera Sky Tower, Gr Floor, Khayaban e Iqbal, Block 9, Clifton, Karachi', 'House # Flat 501 5th Floor Sky Tower, Khaliq-uz-Zaman Road, Block 8, Clifton, Karachi']
['frere residency', 'al makkah tower', '70riviera luxury apartment', 'the plaza', 'al habib castle apartment', 'belle view apartment', 'court view apartments', 'clifton view apartments', 'salalah appartment', 'gem homes', 'mehran square', 'building olrendo - o', 'clifton diamond building', 'pearl apartments', 'block 30', 'prince complex', 'nehr - e - khayyam', 'quality heights', 'royal homes', 'paradise tower', 'parsa heaven', 'sky tower', 'marine heights 2', 'florida homes', 'prime residency', 'ferrer town', 'block t', 'crystal hills apartment', 'aftab sultan residential complex', 'hanging garden', 'com 3', 'sapphire residency', 'shadman residency', 'fortune arcade', 'emerald tower', 'ocean mall', 'luna residency', 'sea breeze centre', 'off', 'presidents apartments', 'ali rehana apartments', 'khadija tower', 'chappal resort', 'mehran heights', 'building all blocks', 'marina elevation apartment', 'building m', 'marine promenade', 'building block t', 'sea view apartments', 'building d', 'sea world residency', 'sasi boat view', 'ctc']

In [13]:
# takes address from its source --> source can be df or file
# takes building name from its source --> source can be df or file
# appends address to respective normalized from ticket # as reference
# takes addresses to which Building Name is None
# takes building names which is not None and type is apartment
# refinement in building names; remove building all blocks, building block, building a,b,c,d..., block 1,2,3, block a,b,c,..., 
def preparing_extraction(address_df, normalized_df):
    normalized_df = normalized_df.merge(address_df, left_on='Ticket #', right_on='Ticket#', how='left').drop('Ticket#', axis=1)
    
    lst_addresses = normalized_df[normalized_df['Building Name'] == 'None']['Address'].tolist()
    lst_building_names = list(set(normalized_df[(normalized_df['Building Name'] != 'None') & (normalized_df['Type'] == 'apartment')]['Building Name']))

    cleaned_building_names = refine_building_names(lst_building_names)
    
    return lst_addresses, cleaned_building_names

# to be called in preparing_extraction(), refines building names by removing outliers in data
def refine_building_names(building_list):
    refined_list = [name for name in building_list if not re.match(r'^(building( all blocks| block)?|block)( [a-zA-Z0-9]+)?$', name, re.I)]
    refined_list.sort(key=lambda x: (len(x) <= 4, x))
    return refined_list


# the 2 building name extraction from chatgpt --> test both then use best one. 
    # from the refined building name corpus, check for building names in address
# return address and building name (correct) if present, otherwise return none
def layer2checks__extract_building_names():
    pass


# identify field in which the address is wrongly placed
# change spelling in address if incorrect
# remove/delete building name from that field and place in building name column 
# if None not in building name:
    # check based on probability identifier mechanim
    # either place in buildng number colum or area/subarea column or other relevant place
# if No building name found then go to city building corpus and check in that
# correct other fields if they are misplaced as well.
def correction():
    pass


# when all previous done, have city building corpus ready
# check in it it building is present, if not then place new buildings in the corpus
# that way we can have a city wise building corpus/directory which is self learning and self updating
# the more runs and more it learns and saves and better results acheived
def updating_building_corpus():
    pass 

# all if building is found

address, building_name = 'House # B6, Block-B Floor, Shahra e Ghalib, Block 2, Clifton, Karachi', 'Aftab Sultan residencial Complex'

print(address)
print(building_name)

'House # Aftab Sultan Resedention complex Appt A/3 2nd Fl, Khayaban-e-Bedi, Block 2, Clifton, Karachi'

House # B6, Block-B Floor, Shahra e Ghalib, Block 2, Clifton, Karachi
Aftab Sultan residencial Complex

In [32]:
import re

def refine_building_names(building_list):
    refined_list = [name for name in building_list if not re.match(r'^(building( all blocks| block)?|block)( [a-zA-Z0-9]+)?$', name, re.I)]
    refined_list.sort(key=lambda x: (len(x) <= 4, x))
    return refined_list

# Example list
building_list = [
    "Building Block 1",
    "Building Block 2",
    "Building Block A",
    "Building Block B",
    "Building all blocks",
    "Building Block",
    "Building A",
    "Building B",
    "Building 1",
    "Building",
    'block 30',
    'block t',
    'block 8',
    'building all blocks',
    'building m',
    'building block t',
    'building d',
    "Mansion Z",
    "Estate X",
    "Flat"
]

refined_buildings = refine_building_names(building_list)
print(refined_buildings)

['Estate X', 'Mansion Z', 'Flat']