In [14]:
import data_preprocessor
import pandas as pd

abbreviations = data_preprocessor.load_json("abbreviations.json")

In [17]:
fname_processed = 'data/datarand_a4.csv'

In [18]:
columns = ['Ticket #', 'Type', 'House #', 'Apartment #', 'Building #', 'Building Name', 'Street', 'Road', 'Area & Sub Area', 'Neighbourhood', 'City'] 
df = data_preprocessor.load_corpus(fname_processed , pandas = True, header = True)

print(len(df))

df.head()

50

,Ticket #,Type,House #,Apartment #,Building #,Building Name,Street,Road,Area & Sub Area,Neighbourhood,City
0,109352067538,apartment,NaN,apartment / suite # 701,building all blocks,luna residency,NaN,shahrah e bedi,block 1,clifton,karachi
1,108904140079,apartment,NaN,apartment / suite # 701 7th floor,building all blocks,paradise tower,NaN,lilly road,civil lines,clifton,karachi
2,105467458850,house,house # d - 176 / 1 ground floor off,NaN,NaN,NaN,NaN,allama s a usmani road,block 7,gulshan - e - iqbal,karachi
3,108826424556,house,house # c 239,NaN,NaN,NaN,street no 22,NaN,block - 1,gulistan - e - johar,karachi
4,109057689033,apartment,NaN,house # b - 27 flat # b - 1 2nd floor shaista ...,NaN,NaN,NaN,university road,block 16,gulshan - e - iqbal,karachi

In [16]:
from nltk.metrics.distance import edit_distance

correct_words = ['gulshan e hadeed', 'gulshan e iqbal', 'defence', 'clifton', 'meher plaza', 'al murtaza heights', 'al murtaza height']

incorrect_words= ['gulshen iqbal', 'defnse', 'klifton', 'mehar plaza', 'al murteza heights']

for word in incorrect_words:
		temp = [(edit_distance(word, w),w) for w in correct_words]
		# print(sorted(temp, key = lambda val:val[0])[0][1])

		if len(temp) > 1: 
			temp = [min(temp, key=lambda t: t[0])]

		print(temp)
		# print(temp[0][1])

print(edit_distance(incorrect_words[2], correct_words[3]), correct_words[3])

[(3, 'gulshan e iqbal')]
[(2, 'defence')]
[(1, 'clifton')]
[(1, 'meher plaza')]
[(1, 'al murtaza heights')]
1 clifton

In [ ]:
def building_name_spelling_correction():
    pass